body{
    font-family:Arial;
	background: #EEAECA;
		background: lightblue;
}

.container{
    width:500px;
    margin:30px auto;
    background:transparent;
    padding:20px;
    border-radius:10px;
	box-shadow:	-1px -1px 30px 5px white;
	
}

#chatArea{
    height:300px;
    border:1px solid #ccc;
    overflow-y:auto;
    padding:10px;
    margin:10px 0;
	color:black;
	background:white;
	border-radius:10px;
}

input{
    width:100%;
    padding:10px;
    margin:5px 0;
    box-sizing:border-box;
	
}

button{
    width:100%;
    padding:10px;
    background:blue;
    color:white;
    border:none;
	border-radius:10px;
}
.heading{
	text-align:center;
	align-items:center;
	color: #FFFFFF;
}